.navigation-small {
  display: flex;
  list-style-type: none;
  width: 110%;
  justify-content: space-evenly;
  font-size: 15px;
}
.bo-suu-tap p {
  font-size: 40px;
  padding: 20px;
}
.bo-suu-tap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-picture {
  width: 234px;
  transform: scale(1);
  transition: all 0.5s;
}
.list-picture:hover{
  z-index: 20;
  transform: scale(1.3);
}

.button-xem-tat-ca {
  background-color: white;
  padding: 15px 20px 15px 20px;
  font-size: 18px;
  height: 60px;
}
.button-xem-tat-ca:hover {
  background-color: #ffcc00;
  color: white;
  padding: 15px 20px 15px 20px;
  font-size: 18px;
  border-style: none;
}
.navigation-small li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.navigation-small li a:hover {
  padding-bottom: 5px;
  border-bottom: solid rgb(228, 167, 56) 2px;
}
