.menufixed {
  position: fixed;
  left: 20px;
  top: 40%;
  display: flex;
  flex-direction: column;
  z-index: 2;
  background-color: white;
  scroll-behavior: smooth;
}

.menufixed a {
  width: 70px;
  padding: 10px;
  height: 40px;
  text-align: center;
  border: 1px solid rgb(139, 137, 137);
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.menufixed a:hover {
  background-color: rgb(85, 84, 84);
  color: white;
  cursor: pointer;
}
.up-icon {
  width: 40px;
  height: 40px;
}
