@font-face {
  font-family: Montserrat-Black;
  src: url(./fonts/Montserrat-SemiBold.ttf);
}

* {
  font-family: Montserrat-Black, serif  ;
  padding: 0px;
  margin: 0px;
}
.App__contact {
  margin-top: 50px;
}
.App {
  background-color: white;
}
